################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculadora2/FileContentIndex/171c683b-e6fa-45cb-81f5-78cd4eb929bb.vsidx
/.vs/Calculadora2/FileContentIndex
/.vs/Calculadora2/v17
/.vs/ProjectEvaluation
/.vs
/Calculadora2/obj/Debug/net8.0/Calculadora2.assets.cache
/Calculadora2/obj/Debug/net8.0/Calculadora2.AssemblyInfo.cs
/Calculadora2/obj/Debug/net8.0/Calculadora2.assets.cache
/Calculadora2/obj/Debug/net8.0/Calculadora2.GeneratedMSBuildEditorConfig.editorconfig
